html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* 给左侧权限菜单设置样式 */
.el-submenu_title,
.el-menu-item {
  font-size: 13px;
}
i.iconfont {
  margin-right: 10px;
}
/* 卡片区域样式设置 */
.box-card {
  margin-top: 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) !important; 
}
/* 给el-table表格设置样式 */
.el-table{
  margin-top: 15px;
  font-size: 12px;
}
/* 给分页设置统一样式 */
.el-pagination{
  margin-top: 15px;
  font-size: 12px;
}